.links {
  float: right;
  text-decoration: none;
}

.active {
  color: #000;
  text-decoration: none;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.active:hover {
  text-decoration: underline;
}

nav {
  display: block;
}

header {
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  box-shadow: 0 2px 4px -2px black;
  background-color: rgb(149, 92, 54);
  display: block;
}

img {
  padding-top: 100px;
}

.container {
  display: flex;
  align-items: center;
}

.name {
  font-size: 50px;
  text-align: center;
  font-family: garamond;
}

body {
  background-color: rgb(190, 118, 70);
}
