.links {
  text-align: right;
  text-decoration: none;
  font-size: smaller;
}

.active {
  color: hsl(0, 15%, 91%);
  text-decoration: none;
  margin: 5px;
  font-family:ink free;
}


.active:hover {
  text-decoration: underline;
  background-color: rgb(178, 28, 178);
}

header {
  font-size: 2rem;
  /* position: fixed; */
  top:0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  /* box-shadow: 0 2px 4px -2px rgb(244, 239, 239); */
}

/* body {
  background-color: black;
} */

h1 {
  color: aqua;
  font-family: ink free;
  background-color: rgb(178, 28, 178);
  display: inline;
  padding: 5px;
  margin: 30px;
  font-size: 40px;
  

}

h2 {
  color: aqua; 
  font-family: ink free;
  text-align: center;
  margin-top: auto;
}

/* .section {
  border-top: 1px solid #bbb;
} */

.container {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
}

p {
  color: aqua;
  margin-left: 10px;
}

.project {
  font-family: ink free;
  /* font-size: 1em; */
  background-color: rgb(178, 28, 178);
  /* padding-bottom: 10px; */
  /* width: 700px; */
  /* background: rgb(28, 48, 48);
  background: ;
  color: #1a1919; */
  box-shadow: 0 2px 4px -2px rgb(12, 11, 11);
  margin: 2em auto;
  /* padding: 2em; */
}

.testimonial-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.col-span {
  grid-column: span 2;
  text-align: center;
}

@media (max-width: 600px) {
  .testimonial-grid {
    display: contents;
  }

  .container {
    display: contents;
  }
}

